<div class="control-group nationalflags">
<label class="control-label">National Flag</label>
<div class="controls">
    {{combo-box nameProperty="description" valueAttribute="code" nameChanges=true content=natflaglist value=field.value }}
    <img class="nationalflag-usersummary" src="/plugins/discourse-nationalflags/images/nationalflags/{{field.value}}.png" />
</div>
</div>
